extends layout

block content
    .container
        h1 Huashen Liang
        ul
            li I live in #{cityResiding}
            li I was born in #{countryBorn} 
            li My job is #{job}
            
        
